/*  SECTIONS  */
.section {
  clear: both;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.row {
  max-width: 1024px;
  margin: 0 auto;
}
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 80.5%;
}

.span_4_of_6 {
    width: 63.4%;
}

.span_3_of_6 {
    width: 46.3%;
}

.span_2_of_6 {
    width: 29.2%;
}

.span_1_of_6 {
    width: 12.1%;
}

.col.negative_6 {
    margin-left: 100%;
}

.col.negative_5 {
    margin-left: -83.1%;
}

.col.negative_4 {
    margin-left: -66.0%;
}

.col.negative_3 {
    margin-left: -48.9%;
}

.col.negative_2 {
    margin-left: -31.8%;
}

.col.negative_1 {
    margin-left: -14.7%;
}

.col.offset_5 {
    margin-left: 83.1%;
}

.col.offset_4 {
    margin-left: 66.0%;
}

.col.offset_3 {
    margin-left: 48.9%;
}

.col.offset_2 {
    margin-left: 31.8%;
}

.col.offset_1 {
    margin-left: 17.1%;
}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}
